amqp==5.3.1
async-timeout==4.0.2
billiard==3.6.4.0
celery==5.2.2
certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.3.0
click==8.1.7
Cython==3.0.4
dnspython==2.6.1
Flask==1.1.2
Flask-Script==2.0.6
Flask-SocketIO==2.9.6
Flask-SQLAlchemy==2.5.1
flit_core==3.9.0
gevent==24.2.1
greenlet==2.0.2
idna==3.7
itsdangerous==2.0.1
Jinja2==3.0.3
kombu==5.4.2
MarkupSafe==2.1.5
pkgconfig==1.5.5
pybind11==2.13.4
pycparser==2.21
python-engineio==4.10.1
python-socketio==5.11.4
pytz==2023.3
redis==4.5.4
requests==2.32.3
runstats==1.8.0
six==1.16.0
SQLAlchemy==1.4.45
urllib3==1.26.19
vine==5.1.0
werkzeug==0.16.0
zope.event==4.6
zope.interface==5.4.0
